body{
    background-color:#F3F9FB;
}

#header{
    width:auto;
    height: 10vh;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#headertext{
    margin: auto;
}

h1{
    font-size: xx-large;
    text-align:center;
    padding-top: 15px;
}

h2{
    font-size: x-large;
}

h3{
    color: black;
    text-decoration: none;
}

#MainContent{
    background-color: #E4E5E6;
    height: auto;
    margin: 10px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

#hometext{
    font-size: larger;
    line-height: 40px;
    text-align: center;
}

#reDirect{
    text-align: center;
    border: 2px solid;
    margin-left: 30vw;
    margin-right: 30vw;
}

#reDirect:hover{
    background-color: #ADD8E6;
}


